body {
  margin: 0;
  width: 100%;
  .app{
    color: red;
    .room-list{
      border: blue 1px solid;
    }
    .message-list{
      border: black 1px solid;
    }
    .send-message-form{
      border: green 1px solid;
    }
    .new-room-form{
      border: orange 1px solid;
    }
  }
}

